@import url("reset.css");

body {
    font-size: 14px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.task-list {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #302C42;
    text-align: center;
    padding: 50px 0 50px;
}

.task-list li {
    display: inline-block;
    margin-right: 20px;
}

#task1 {
    font-family: Poppins, sans-serif;
    color: #808080;
    padding-top: 50px;
    padding-bottom: 50px;

}

#task1 .container {
    max-width: 678px;
    margin: 0 auto;
}

#task1 .text {
    line-height: 1.5;
    margin-bottom: 20px;
}

#task1 .list {
    margin-bottom: 20px;
}

#task1 .item {
    line-height: 1.4;
    padding-left: 28px;
    background: url("../img/check.svg") 0 0 / 19.6px no-repeat;
    margin-bottom: 14px;
}

#task2,
#task3 {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    background-color: #302C42;
    padding-top: 50px;
    padding-bottom: 50px;
}

#task2 .container,
#task3 .container {
    max-width: 1302px;
    margin: 0 auto;
}

#task2 .container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../img/vector7.svg") 0 100px no-repeat, url("../img/vector8.svg") 0 375px no-repeat;
}

#task2 .img {
    max-width: 524px;
    border-radius: 240px 100px;
    margin-right: 108px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#task2 .text-content,
#task3 .item,
#task3 .text-content {
    display: inline-block;
}

#task2 .text-content {
    max-width: 630px;
}

#task2 .img,
#task2 .text-content {
    vertical-align: middle;
}

#task2 .title {
    text-align: start;
    font-size: 36px;
    line-height: 1.2;
    text-transform: uppercase;
}

#task2 h1 {
    font-weight: 700;
    margin-bottom: 5px;
}

#task2 h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 42px;
}

#task2 .text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
}

#task2 .button {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #343045;
    padding: 17px 40px;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

#task3 .list {
    padding: 25px 20px;
    background: radial-gradient(circle, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    border-radius: 90px;
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

#task3 .item {
    max-width: 400px;
    width: 100%;
    min-height: 116px;
    padding-left: 20px;

}

#task3 .contact {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#task3 .location,
#task3 .tel,
#task3 .mail {
    padding-left: 70px;
}

#task3 .location {
    background: url("../img/location.svg") center left / 70px no-repeat;
    border-right: 2px solid rgba(192, 183, 232, 0.33);
}

#task3 .tel {
    background: url("../img/phone.svg") center left / 59px no-repeat;
    border-right: 2px solid rgba(192, 183, 232, 0.33);
}

#task3 .mail {
    background: url("../img/mail.svg") center left / 65px no-repeat;
}

#task3 .title {
    text-align: start;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer {
    padding: 50px 0 50px;
    background-color: #302C42;
    text-align: center;
}

.footer a {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}